# Ignore the local development database
/db.sqlite3

# Ignore the local development media folder
/media

# Ignore the locally collected static files
/media
/staticfiles

# Ignore Python cache fiels
__pycache__/
*.pyc

# Ignore OS X files
.DS_Store
